
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #000;
}
.title-div{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/wallpaper2you_373163.jpg);
    background-size: cover;
}
.para{
    color: white;
    padding: 100px;
}
.title{
margin: 0;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 60px;
}
.title-cont{ 
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: 20%;
  padding-right: 20%;
}
.see_resume{
    margin-top: 6px;
    background-color: red;
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.see_resume:hover{
    background-color: rgb(155, 20, 20);
    cursor: pointer;
}
.specs{
    margin-top: 10px;
    text-align: center;
    position: relative;
}
.specs_title{
   
    color: white;
}
.sub_specs{
   margin-top: 20px;
   margin-left: 60px;
   margin-right: 60px;
   color: white;
  font-size: 20px;
}
.img_spec {
  filter: brightness(80%);
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 50px;
  }


.php_name {
    color: white;
    position: absolute;
    left: 14%;
    top: 25%;
  }
  
.php_prof {
    color: white;
    position: absolute;
    left: 30%;
    top: 50%;
  }
  

  .db_name {
      color: white;
    position: absolute;
    left: 38%;
    top: 25%;
  }
  
  .db_prof {
      color: white;
    position: absolute;
    left: 57%;
    top: 50%;
  }
  
  .wd_name {
      color: white;
    position: absolute;
    left: 64%;
    top: 25%;
  }
  
  .wd_prof {
    color: white;
    position: absolute;
    left: 82%;
    top: 50%;
  }
  .jq_name {
    color: white;
    position: absolute;
    left: 14%;
    top: 68%;
  }
  
.jq_prof {
    color: white;
    position: absolute;
    left: 31%;
    top: 92%;
  }
  

  .aj_name {
    color: white;
    position: absolute;
    left: 38%;
    top: 68%;
  }
  
  .aj_prof {
      color: white;
    position: absolute;
    left: 57%;
    top: 92%;
  }
  
  .bp_name {
      color:black;
    position: absolute;
    left: 64%;
    top: 68%;
  }
  
  .bp_prof {
    color:black;
    position: absolute;
    left: 82%;
    top: 92%;
  }
  .slide{
    margin-top: 30px;
  }
  .pro_title{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
   
  }
  .pro_img{
    margin-top: 10px;
    text-align: center;
  }
  .prev{
    margin-bottom: 220px;
    cursor: pointer;
  }
  .next{
    margin-bottom: 220px;
    cursor: pointer;
  }
  .main_img{
    border-radius: 20px;
  }
  .pro_des{
    color: white;
    margin-left: 300px;
    margin-top: 10px;
    margin-right:300px;
    
  }
  .pro_name{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }
  .pro_content{
    font-size: 20px;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gainsboro;
  }
  .resume {
    color: white;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 50px;
    position: relative;
  }
  
  .img_container {
    float: left;
    width: 33%;
    padding-top: 50px;
  }
  
 
  .contact_me {
    color: white;
    margin-top: 10px;
    text-align: center;
    justify-content: left;
  }
  .edu{
    filter: brightness(60%);
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 50px;
  }
  .cx_name{

    color: white;
    position: absolute;
    left: 13%;
    top: 41%;
    font-size: 40px;
  }
  .cx_prof{

    color: white;
    position: absolute;
    left: 33%;
    top: 74%;
    font-size: 20px;
  }

  .cxii_name{
    color: white;
    position: absolute;
    left: 39%;
    top: 41%;
    font-size: 40px;

  }
  .cxii_prof{
    
    color: white;
    position: absolute;
    left: 58%;
    top: 74%;
    font-size: 20px;
  }

  .cc_name{
    color: white;
    position: absolute;
    left: 64%;
    top: 41%;
    font-size: 30px;

  }
  .cc_prof{
   
    color: white;
    position: absolute;
    left: 80%;
    top: 74%;
    font-size: 20px;
  }
 
